<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/style/style.css">
	<title>Final Project</title>
</head>
<body>
	<span><h1>Workout Tracker</h1></span>
	{{{body}}}
		<script src = "/javascripts/ajaxFinalProject.js"></script>
</body>
</html>
